.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#photo {
    width: 300px; /* Ändere die Breite entsprechend deiner Anforderungen */
    border: 10px solid transparent; /* Startet mit einer transparenten Outline */
    border-radius: 10px; /* Füge eine abgerundete Ecke hinzu, falls benötigt */
}
